<div class='col-xs-12 col-sm-12 col-md-9 col-md-offset-1'>
  <% if @games.present? %>
    <table class="table table-striped">
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.first_event_at') %></th>
        <th><%= t('.next_event_at') %></th>
        <th><%= t('.events_amount') %></th>
        <th><%= t('.participants_amount') %></th>
        <th><%= t('.my_role') %></th>
      </tr>
      <%= render partial: 'game', collection: @games %>
    </table>
  <% else %>
    <%= t('.no_games') %>
  <% end %>
</div>
