<% unless comment.new_record? %>
  <div class='col-xs-12 col-sm-12 col-md-12'>
    <div id='comment_<%= comment.id.to_s %>' class='row comment'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 meta'>
          <%= link_to user_path(comment.user) do %>
            <%= image_tag asset_path(comment.user.avatar) %>
          <% end %>
          <span class='commenter-stats'>
            <small><strong><%= comment.user.name %></strong></small><br />
            <span class='text-muted'>
              <small><%= comment.created_at.try(:to_s, :short) %></small><br />
              <% if current_user.id == comment.user.id %>
                <%= render 'comments/manage_links', comment: comment %>
              <% end %>
            </span>
          </span>
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <article id="<%= comment.id.to_s %>" class='message'><%= comment.message %></article>
        </div>
      </div>
    </div>
  </div>
<% end %>
