<% unless comment.new_record? %>
  <div class='col-md-12'>
    <div id='comment_<%= comment.id.to_s %>' class='row comment'>
      <div class='row'>
        <div class='col-md-1'>
          <%= image_tag comment.user.avatar %>
        </div>
        <div class='col-md-11'>
          <small><strong><%= comment.user.name %></strong></small>
          <span class='text-muted'>
            <br />
            <small><%= comment.created_at.try(:to_s, :short) %></small>
            <br />
          </span>
        </div>
      </div>

      <div class='row '>
        <div class='col-md-12'>
          <% if current_user.id == comment.user.id %>
            <article id='<%= comment.id.to_s %>' class='message'>
              <%= comment.message %>
              <%= render 'comments/manage_links', comment: comment %>
            </article>
          <% else %>
            <article class='message'><%= comment.message %></article>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
