<% content_for :title do %>
  Профиль
<% end %>

<div class='col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1'>
  <%= form_for [:master, @profile], url: master_profile_path, method: 'PATCH', html: { class: 'form-horizontal', role: 'form' } do |f| %>
    <div class="form-group">
      <%= image_tag current_user_profile.avatar, class: 'profile-avatar' if current_user_profile.avatar.present? %>
      <aside class='bio'>
        <%= current_user_profile.name %><br />
        <small><%= I18n.t("general.#{@profile.human_role}") %></small>
      </aside>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class: 'form-control input-sm', placeholder: 'youremail@example.com' %>
    </div>

    <div class="form-group">
      <%= f.hidden_field :tag_ids, id: 'tags', data: {pre: @profile.tags.tokenize}, style: 'min-width: 390px; width: auto; font-size: 12px;' %>
    </div>

    <div class="form-group">
      <div class='checkbox'>
        <%= f.check_box :want_to_be_master %>
        <%= f.label :want_to_be_master, t('.want_to_be_master') %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit t('.update'), class: 'btn btn-success btn-sm' %>
    </div>
  <% end %>
</div>
