<div class='row user'>
  <div class='col-md-1 avatar text-center'>
    <% if user.avatar.present? %>
      <p class='<%= 'master-ico' if user.master? || user.admin? %>'>
        <%= image_tag asset_path(user.avatar) %>
      </p>
    <% else %>
      <i class='fa fa-picture-o default-image'></i>
    <% end %>
  </div>

  <div class='col-md-3'>
    <p>
      <%= user.name %><br />
      <small><%= user.email %></small><br />
      <small>
        <%= link_to user.social_network_link, target: '_blank' do %>
          <i class='fa fa-vk'></i>
        <% end %>
      </small>
    </p>
  </div>

  <div class='col-md-8'>
    <div class='tag-container'>
      <% user.tags.each do |tag| %>
        <span class='tag'><%= tag.title %></span>
      <% end %>
    </div>
  </div>
</div>
