<% content_for :sidebar do %>
  <aside>
    <header><i class='fa fa-users'></i> <%= t('.general') %></header>
    <article>
      <ul class='list-unstyled'>
        <li><%= t('.total_masters') %><span class='counter pull-right'><%= @users.masters.count %></span></li>
        <li><%= t('.total_players') %><span class='counter pull-right'><%= @users.players.count %></span></li>
      </ul>
    </article>
  </aside>
<% end %>

<%= render @users %>
