<% content_for :sidebar do %>
  <aside>
    <header><i class='fa fa-users'></i> <%= t('.general') %></header>
    <article>
      <ul class='list-unstyled'>
        <li><%= t('.total_masters') %> <span class='badge'><%= @masters.count %></span></li>
        <li><%= t('.total_players') %> <span class='badge'><%= @players.count %></span></li>
      </ul>
    </article>
  </aside>
<% end %>

<div class='row'>
  <div class='col-md-6'>
    <header><i class='fa fa-users'></i> <%= t('.players') %></header>
    <%= render @players %>
  </div>

  <div class='col-md-6'>
    <header><i class='fa fa-users'></i> <%= t('.masters') %></header>
    <%= render @masters %>
  </div>
</div>
