<div class='row game-event'>
  <div class='col-md-4 poster text-center'>
    <% if event.poster? %>
      <%= image_tag asset_path(event.poster.medium.url) %>
    <% else %>
      <i class='fa fa-picture-o fa-5x default-image'></i>
    <% end %>
  </div>

  <div class='col-md-8 body'>
    <aside class='pull-right'>
      <i class='fa fa-clock-o'></i> <%= l(event.beginning_at, format: :short) %>
      <div class='pull-right corner'></div>
    </aside>

    <p>
      <%= link_to event.game.title.truncate(35), game_path(event.game), class: 'header' %>
      <br />
      <small class='text-muted'>By <%= event.game.master.name %></small>
    </p>

    <p><%= event.description.truncate(240) %></p>

    <div class='tag-container'>
      <% event.game.tags.each do |tag| %>
        <span class='tag'>
          <%= link_to tag.title, events_path(tag: tag.id) %>
        </span>
      <% end %>
    </div>
  </div>
</div>
