<div class='row game-event'>
  <div class='col-xs-3 col-sm-3 col-md-3 poster'>
    <% if event.game.poster? %>
      <%= link_to game_path(event.game) do %>
        <%= image_tag asset_path(event.game.poster.medium.url), class: "with-hover #{'finished' if event.finished?}" %>
      <% end %>
    <% else %>
      <div class='text-center'>
        <i class='fa fa-picture-o fa-5x default-image'></i>
      </div>
    <% end %>
  </div>

  <div class='col-xs-9 col-sm-9 col-md-9'>
    <aside class='pull-right'>
      <i class='fa fa-clock-o'></i> <%= l(event.beginning_at, format: :short) %>
      <div class='pull-right corner'></div>
    </aside>

    <p class='title'>
      <%= link_to event.game.title.truncate(35), game_path(event.game), class: 'header' %>
      <br />
      <small class='text-muted'>By <%= event.game.master.nickname %></small>
    </p>

    <p class='description'><%= event.description %></p>

    <p class='tag-container'>
      <% event.game.tags.each do |tag| %>
        <span class='tag'>
          <%= link_to tag.title, search_tags_path(tag.id) %>
        </span>
      <% end %>
    </p>
  </div>
</div>
