<% content_for :title do %>
  Игры
<% end %>

<% content_for :sidebar do %>
  <%= render 'admin_sidebar' if current_user.master? || current_user.admin? %>
<% end %>

<%= render 'filter_bar' %>

<% if @events.present? %>
  <%= render @events %>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 text-center'>
      <%= paginate @events %>
    </div>
  </div>
<% else %>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 text-center'>
      <aside><%= t('.no_games') %></aside>
    </div>
  </div>
<% end %>
