<% content_for :sidebar do %>
  <%= render 'admin_sidebar' if current_user.master? || current_user.admin? %>
  <aside>
    <header><i class='fa fa-trophy'></i> <%= t('.top_games') %></header>
    <article>
      <ul class='list-unstyled'>
        <% @top_games.each do |top_game| %>
          <li>
            <%= link_to top_game.title, game_path(top_game.id), class: 'top-game' %>
            <span class='badge pull-right'><%= top_game.amount %></span>
          </li>
        <% end %>
      </ul>
    </article>
  </aside>

  <aside>
    <header><i class='fa fa-users'></i> <%= t('.recruits') %></header>
    <article>
      <ul class='list-unstyled'>
        <% if @recent_users.present? %>
          <% @recent_users.each do |user| %>
            <li>
              <%= link_to user.name, user_path(user), target: '_blank' %>
              <small class='text-muted'>- <%= l(user.created_at, format: :short) %></small>
            </li>
          <% end %>
        <% else %>
          <%= t('.no_recent_users') %>
        <% end %>
      </ul>
    </article>
  </aside>
<% end %>

<%= render 'filter_bar' %>

<% if @events.present? %>
  <%= render @events %>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 text-center'>
      <%= paginate @events %>
    </div>
  </div>
<% else %>
  <span class='no-games'><%= t('.no_games') %></span>
<% end %>
