<div id="events-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @game.events.each_with_index do |event, idx| %>
      <li data-target="#events-carousel" data-slide-to="<%= idx %>" class="<%= 'active' if idx.zero? %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @game.events.each_with_index do |event, idx| %>
      <div class="item <%= 'active' if idx.zero? %>" style='background-color: #ddd;'>
        <%= image_tag asset_path(event.poster.slide.url) %>
        <div class="carousel-caption">
          <p><%= event.description %></p>
          <h3 class='pull-right'>
            <%= l(event.beginning_at, format: :short) %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#events-carousel" data-slide="prev">
    <span><i class='fa fa-chevron-left fa-2x'></i></span>
  </a>
  <a class="right carousel-control" href="#events-carousel" data-slide="next">
    <span><i class='fa fa-chevron-right fa-2x'></i></span>
  </a>
</div>
