<core-animated-pages id='game-wizard-steps' transitions='slide-from-right'>
  <template is='auto-binding'> <!--  <- is very important as it binds all external polymer elements inside itself -->
    <section>
      <template if={{!phoneScreen}}>
        <%= render partial: 'step1' %>
        <game-wizard-service-step-1 game='{{game}}' url="<%= games_path %>"></game-wizard-service-step-1>
      </template>

      <template if={{phoneScreen}}>
        <%= render partial: 'step1_mobile' %>
        <game-wizard-service-step-1 game='{{game}}' url="<%= games_path %>"></game-wizard-service-step-1>
      </template>
    </section>

    <section>
      <%= render partial: 'step2' %>
      <game-wizard-service-step-2 game='{{game}}' url="<%= games_path %>"></game-wizard-service-step-2>
    </section>

    <section>
      <%= render partial: 'step3' %>
      <game-wizard-service-step-3 game='{{game}}' url="<%= games_path %>"></game-wizard-service-step-3>
    </section>

    <section>
      <%= render partial: 'step4' %>
      <game-wizard-service-step-4 game='{{game}}' gameCreated='{{gameCreated}}' processing='{{processing}}' url="<%= games_path %>"></game-wizard-service-step-4>
    </section>

    <%= yield :game_edit_loader %>

    <core-media-query query="max-width: 900px" queryMatches="{{phoneScreen}}"></core-media-query>
  </template>
</core-animated-pages>

