<h2><%= t('games.management') %></h2>
<% if @game.subscribed?(current_user) %>
  <p><%= link_to t('games.unenroll'), unenroll_game_path(@game.slug), method: :delete, class: 'danger', data: {confirm: t('games.unenroll_confirmation')}, remote: true %></p>
<% else %>
  <% if !@game.private_game? %>
    <% if @game.allows_to_take_part? %>
      <p><%= link_to t('games.enroll'), take_part_game_path(@game.slug), remote: true %></p>
    <% else %>
      <p><%= t('games.no_place') %></p>
    <% end %>
  <% else %>
    <p><%= t('games.invitation_only') %></p>
  <% end %>
<% end %>
