<% content_for :title do %>
  Создание игры
<% end %>

<core-animated-pages id='game-wizard-steps' transitions='slide-from-right'>
  <template is='auto-binding'>
    <section>
      <%= render partial: 'step1' %>
      <game-wizard-service-step-1 game='{{game}}' url="<%= games_path %>"></game-wizard-service-step-1>
    </section>

    <section>
      <%= render partial: 'step2' %>
      <game-wizard-service-step-2 game='{{game}}' url="<%= games_path %>"></game-wizard-service-step-2>
    </section>

    <section>
      <%= render partial: 'step3' %>
      <game-wizard-service-step-3 game='{{game}}' url="<%= games_path %>"></game-wizard-service-step-3>
    </section>

    <section>
      <%= render partial: 'step4' %>
      <game-wizard-service-step-4 game='{{game}}' gameCreated='{{gameCreated}}' url="<%= games_path %>"></game-wizard-service-step-4>
    </section>
  </template>
</core-animated-pages>
