<%= content_for :sidebar do %>
  <aside>
    <header>Инфоблок</header>
    <article class='text-muted'>
      <p>
        Участники: <%= @game.players.count %><br />
        Комментарии: <%= @game.comments.count %>
      </p>
    </article>
  </aside>

  <aside>
    <header>Метки</header>
    <article class='text-muted'>
      <%= tags(@game.tags) %>
    </article>
  </aside>
  <p class='subscribe-button-container'>

  </p>
<% end %>

<div class='row game'>
  <div class='col-md-12'>
    <p class='title'><%= @game.title %></p>
    <p class='description'><%= @game.description %><p>
  </div>
</div>

<% unless current_user.creator?(@game) %>
  <div class='row'>
    <div class='col-md-offset-4 col-md-4'>
      <article class='text-center decision'>
        <% if @game.subscribed?(current_user) %>
          <%= link_to 'покинуть игру', unenroll_game_path(@game), method: :delete, data: {confirm: 'Sure?'} %>
        <% else %>
          <%= link_to 'Принять участие', take_part_game_path(@game) %>
        <% end %>
      </article>
    </div>
  </div>
<% end %>

<div class='comments'>
  <%= render partial: @game.comments %>
</div>

<div class='row'>
<%= render 'comments/form' %>
</div>
