<%= content_for :sidebar do %>
  <aside>
    <header><i class='fa fa-info-circle'></i> <%= t('.general') %></header>
    <article>
      <ul class='list-unstyled'>
        <li>
          <%= t('.participants') %> <span class='counter pull-right'><%= @game.subscriptions.count %></span>
        </li>
        <li>
          <%= t('.comments') %> <span class='counter pull-right'><%= @game.comments.count %></span>
        </li>
      </ul>
      <p>
        <% unless current_user.creator?(@game) %>
          <% if @game.subscribed?(current_user) %>
            <%= link_to t('.leave_game'), unenroll_game_path(@game), method: :delete, data: {confirm: 'Sure?'}, class: 'btn btn-danger btn-xs' %>
          <% else %>
            <%= link_to t('.take_part'), take_part_game_path(@game), class: 'btn btn-success btn-xs' %>
          <% end %>
        <% end %>
      </p>
    </article>
  </aside>

  <aside>
    <header><i class='fa fa-users'></i> <%= t('.participants') %></header>
    <article>
      <p class='master-ico'>
        <%= image_tag asset_path(@game.master.avatar), data: {toggle: 'tooltip'}, title: "#{@game.master.name}"  %>
        <% @game.players.each do |player| %>
          <%= image_tag asset_path(player.avatar), data: {toggle: 'tooltip'}, title: "#{player.name}" %>
        <% end %>
      </p>
    </article>
  </aside>

  <aside>
    <header><i class='fa fa-tags'></i> <%= t('.tags') %></header>
    <article>
      <% @game.tags.each do |tag| %>
        <span class='tag'>
          <%= link_to tag.title, events_path(tag: tag.id) %>
        </span>
      <% end %>
    </article>
  </aside>

  <% if current_user.creator?(@game) %>
    <aside>
      <header><i class='fa fa-eye'></i> <%= t('.for_master') %></header>
      <p><%= link_to t('.edit_game'), edit_game_path(@game), class: 'btn btn-primary btn-xs' %></p>
      <p><%= link_to t('games.form.remove'), game_path(@game), method: :delete, data: { confirm: t('general.remove_confirm') }, class: 'btn btn-danger btn-xs' %></p>
    </aside>
  <% end %>
<% end %>

<div class='row game'>
  <div class='col-md-12'>
    <p class='title'><%= @game.title %></p>
    <p><%= render 'events_carousel' %></p>
    <p class='description'><%= @game.description %><p>
  </div>
</div>

<div class="form-group">
  <div class='triada-header'>
    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-4'><%= t('.comments')%></div>
      <div class='col-md-4'></div>
    </div>
  </div>
</div>

<div class='comments'>
  <%= render partial: @game.comments %>
</div>

<div class='row'>
<%= render 'comments/form' %>
</div>
