<%= content_for :sidebar do %>
  <p><strong>Participants:</strong> <%= @game.players.count %></p>
  <p><strong>Comments:</strong> <%= @game.comments.count %></p>
  <%= tags(@game.tags) %>
  <p class='subscribe-button-container'>
    <% if @game.subscribed? current_user %>
      <%= link_to_unless current_user.creator?(@game), 'Leave Game', unenroll_game_path(@game), method: :delete, data: {confirm: 'Sure?'}, class: 'btn btn-danger' do |name| %>
      <% end %>
    <% else %>
      <%= link_to 'Take part', take_part_game_path(@game), class: 'btn btn-warning' %>
    <% end %>
  </p>
<% end %>

<div class='row game'>
  <div class='col-md-12'>
    <p class='title'><%= @game.title %></p>
    <p class='description'><%= @game.description %><p>
  </div>
</div>

<div class='comments'>
  <%= render partial: @game.comments %>
</div>

<div class='row'>
<%= render 'comments/form' %>
</div>
