<core-image class='poster-container' src='<%= @game.poster.url %>' sizing='cover'>
  <h1 class='game-header'><%= @game.title %></h1>
</core-image>

<section class='body'>
  <div layout horizontal>
    <div>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-calendar fa-stack-1x"></i>
      </span>
      <%= @game.next_session %>
      <% if @game.online_game? %>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-globe fa-stack-1x"></i>
        </span>
        <%= @game.online_info %>
      <% else %>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-map-marker fa-stack-1x"></i>
        </span>
        <%= link_to @game.address, "http://maps.google.com/?q=#{@game.address}", target: '_blank' %>
      <% end %>
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-users fa-stack-1x"></i>
      </span>
      <%= @game.players.count %>
    </div>
  </div>

  <hr />

  <p>
    <% @game.players.each do |player| %>
      <core-tooltip label='<%= player.nickname %>'>
        <% if player.avatar? %>
          <%= image_tag asset_path(player.avatar.tiny.url), class: 'avatar rounded', size: '39x39', alt: player.nickname %>
        <% else %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
        <% end %>
      </core-tooltip>
    <% end %>
  </p>

  <hr />

  <p><%= @game.description %></p>

  <hr />

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'adventurerkit';
    var disqus_title = '<%= @game.title %>';
    var disqus_url = '<%= request.original_url %>';
    var disqus_identifier = '<%= @game.title %>';
    loadDisqus(disqus_shortname, disqus_title, disqus_url, disqus_identifier);
  </script>

</section>
