<%= content_for :sidebar do %>
  <aside class='darken'>
    <header><i class='fa fa-info-circle'></i> <%= t('.general') %></header>
    <article>
      <ul class='list-unstyled'>
        <li>
          <%= t('.participants') %> <span class='badge pull-right'><%= @game.subscriptions.count %></span>
        </li>
        <li>
          <%= t('.comments') %> <span class='badge pull-right'><%= @game.comments.count %></span>
        </li>
      </ul>
    </article>
  </aside>

  <aside class='darken participants'>
    <header><i class='fa fa-users'></i> <%= t('.master') %></header>
    <article>
      <p>
        <%= link_to user_path(@game.master) do %>
          <%= image_tag asset_path(@game.master.avatar), class: 'with-hover' %>
        <% end %>
      </p>
    </article>
  </aside>

  <aside class='darken participants'>
    <header><i class='fa fa-users'></i> <%= t('.participants') %></header>
    <article>
      <p>
        <% if @game.players.present? %>
          <% @game.players.each do |player| %>
            <%= link_to user_path(player) do %>
              <%= image_tag asset_path(player.avatar), class: 'with-hover' %>
            <% end %>
          <% end %>
        <% else %>
          <%= t('.no_players_yet') %>
        <% end %>
      </p>
    </article>
  </aside>

  <aside class='darken'>
    <header><i class='fa fa-tags'></i> <%= t('.tags') %></header>
    <article>
      <% if @game.tags.exists? %>
        <% @game.tags.each do |tag| %>
          <span class='tag'>
            <%= link_to tag.title, search_tags_path(tag.id) %>
          </span>
        <% end %>
      <% else %>
        <%= t('general.no_tags') %>
      <% end %>
    </article>
  </aside>

  <aside class='darken'>
    <% if current_user.creator?(@game) %>
      <header><i class='fa fa-eye'></i> <%= t('.for_master') %></header>
      <p><%= link_to t('.edit_game'), edit_game_path(@game), class: 'btn btn-primary btn-xs' %></p>
      <p><%= link_to t('games.form.remove'), game_path(@game), method: :delete, data: { confirm: t('general.remove_confirm') }, class: 'btn btn-danger btn-xs' %></p>
    <% else %>
      <header><i class='fa fa-eye'></i> <%= t('.for_player') %></header>
      <% if @game.subscribed?(current_user) %>
        <p><%= link_to t('.leave_game'), unenroll_game_path(@game), method: :delete, data: {confirm: t('.confirm_leave_game')}, class: 'btn btn-danger btn-xs' %></p>
      <% else %>
        <p>
          <% if @game.allows_to_take_part? %>
            <%= link_to t('.take_part'), take_part_game_path(@game), class: 'btn btn-success btn-xs' %>
          <% else %>
            <%= t('.game_is_full') %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </aside>

  <meta name='background-url' content="<%= asset_path(@game.poster.url) %>"/>
<% end %>

<div class='row game'>
  <div class='col-xs-12 col-sm-12 col-md-12'>
    <p class='title'><%= @game.title %></p>
    <p class='description'><%= @game.description %><p>
    <p class='description'><%= @game.events.last.description %><p>
  </div>
</div>

<div class="form-group">
  <div class='triada-header'>
    <div class='row'>
      <div class='col-xs-4 col-sm-4 col-md-4'></div>
      <div class='col-xs-4 col-sm-4 col-md-4'><%= t('.comments')%></div>
      <div class='col-xs-4 col-sm-4 col-md-4'></div>
    </div>
  </div>
</div>

<div class='row comments'>
  <%= render partial: @game.comments %>
</div>

<div class='row'>
  <%= render 'comments/form' %>
</div>
