<div class='tag-box'>
  <div class='tag'>
    <%= link_to tag.title, search_tags_path(tag.id) %>
  </div>

  <span class='text-muted'> x <%= tag.games.count %></span>

  <% if can? :manage, tag %>
    <%= link_to tag_path(tag), method: :delete, data: {confirm: t('.remove_confirm')}, class: 'pull-right' do %>
      <i class='fa fa-trash-o'></i>
    <% end %>
  <% end %>

  <% if can? :update, tag %>
    <%= link_to edit_tag_path(tag), class: 'pull-right' do %>
      <i class='fa fa-pencil'></i>
    <% end %>
  <% end %>

  <% if tag.editor %>
    <p class='text-muted'>
      Последний редактор: <%= tag.editor.nickname %>
    </p>
  <% end %>

  <aside>
    <%= tag.description %>
  </aside>
</div>
