<h3><%= @event.title %></h3>
<p><%= @event.game.description %></p>
<p><%= @event.description %></p>
<p>Когда: <%= l(@event.beginning_at + @user.current_timezone_offset.seconds, format: :short) %></p>
<p>Где: <%= @event.game.location.address %></p>
<h4>Участники</h4>
<ul>
  <li><%= @event.game.master.name %> (ведущий)</li>
  <% @event.game.players.each do |user| %>
    <li><%= link_to user.name, user.social_network_link %></li>
  <% end %>
</ul>
<p><%= link_to 'Подробнее', game_url(@event.game.id) %></p>

<p>Желаем Вам приятной игры!</p>
