<p>Здравствуйте <%= @master.nickname %>!</p>

<p><%= link_to @subscriber.nickname, @subscriber.social_network_link %> покинул игру <strong><%= @game.title %></strong></p>

<% if @game.players.exists? %>
  <p>
    <strong>Текущий список игроков</strong>
    <ul>
      <% @game.players.each do |user| %>
        <li><%= link_to user.nickname, user.social_network_link %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<p><%= link_to 'Подробнее', game_url(@game.id) %></p>

<p>Хорошей игры мастер!</p>
