<div class='col-xs-12 col-sm-12 col-md-9 col-md-offset-1'>
  <% if @users.present? %>
    <table class="table table-bordered">
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.game') %></th>
        <th><%= t('.role') %></th>
        <th><%= t('.next_session') %></th>
        <th><%= t('.participants') %></th>
        <th><%= t('.left') %></th>
      </tr>
      <%= render partial: 'user', collection: @users %>
    </table>
  <% else %>
    <%= t('.no_users') %>
  <% end %>
</div>
