<div class='row approval'>
  <div class='col-xs-8 col-sm-9 col-md-9'>
    <small class='text-muted'>
      <%= approval_box.created_at.to_s(:short) %>
    </small><br />
    <span class='text-danger'><%= approval_box.message %></span>
  </div>

  <div class='col-xs-4444 col-sm-3 col-md-3'>
    <%= form_for approval_box, url: admin_approval_path(approval_box.id), method: :patch, html: { class: 'form-horizontal', role: 'form' } do |f| %>
      <%= f.hidden_field :approved, value: true %>
      <div class="form-group">
        <%= f.submit 'Approve', class: 'btn btn-success btn-xs' %>
        <%= link_to 'Decline', admin_approval_path(approval_box.id), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: 'Sure?'} %>
      </div>
    <% end %>
  </div>
</div>
