<ul class='list-unstyled'>
  <li class='<%= current_page?(controller: 'profiles', action: 'edit') ? 'active' : '' %>'>
    <%= link_to t('.profile'), edit_profile_path %>
  </li>
  <li><%= link_to t('.approval_list'), approvals_path %></li>
  <li class='<%= current_page?(action: 'heatmap') ? 'active' : '' %>'>
    <%= link_to t('.games_heatmap'), heatmap_profile_path %>
  </li>
  <li class='<%= current_page?(action: 'my_games') ? 'active' : '' %>'>
    <%= link_to t('.my_games'), my_games_profile_path %>
  </li>
  <!--<li><%#= link_to t('.achivements'), '#' %></li>
  <li><%#= link_to t('.statistics'), '#' %></li>-->
</ul>
