<footer>
  <nav class='container navbar navbar-default navbar-light' role='navigation'>
    <div class='row'>
      <div class='col-md-4'>
        <article class='footer-info'>
          <header class='brand'><%= t('general.playhard') %> <small><mark>2014</mark></small></header>
        </article>
      </div>
      <div class='col-md-4 text-center'>
        <article class='footer-info'>
          <header><%= t('general.common') %></header>
        <%= link_to t('general.about'), '/about_us' %>
        <%= link_to t('general.contacts'), '/contacts' %>
        </article>
      </div>

      <div class='col-md-4 text-center'>
        <article class='footer-info'>
          <header><%= t('general.join_us') %></header>
          <%= link_to 'https://vk.com/play_hard_rpg', target: :blank do %>
            <i class='fa fa-vk fa-2x'></i>
          <% end %>

          <%= link_to 'https://twitter.com/PlayHardRpg', target: :blank do %>
            <i class='fa fa-twitter fa-2x'></i>
          <% end %>
        </article>
      </div>
    </div>

  </nav>
</footer>
