<ul class='list-unstyled'>
  <li class='<%= current_page?(controller: 'profiles', action: 'edit') ? 'active' : '' %>'>
    <%= link_to t('.profile'), edit_master_profile_path %>
  </li>
  <li class='<%= current_page?(controller: 'heatmap') ? 'active' : '' %>'>
    <%= link_to t('.games_heatmap'), master_heatmap_path %>
  </li>
  <li class='<%= current_page?(controller: 'games') ? 'active' : '' %>'>
    <%= link_to t('.my_games'), master_games_path %>
  </li>
</ul>
