<div class='topbar'>
  <nav class='container navbar navbar-inverse navbar-light' role='navigation'>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to events_path, class: 'navbar-brand' do %>
        <mark>play</mark><span>hard</span>
      <% end %>
    </div>

    <div class='collapse navbar-collapse' id='topbar-collapse'>

      <ul class='nav navbar-nav toplinks'>
        <li class='<%= current_tab?('events') ? 'active' : '' %>'><%= link_to t('navbar.events'), events_path %></li>
        <li class='<%= current_tab?('tags') ? 'active' : '' %>'><%= link_to t('navbar.tags'), tags_path %></li>
        <li class='<%= current_tab?('users') ? 'active' : '' %>'><%= link_to t('navbar.people'), users_path %></li>
        <li class='<%= current_tab?('locations') ? 'active' : '' %>'><%= link_to t('navbar.locations'), locations_path %><span class='beta'>beta</span></li>
      </ul>

      <% if content_for?(:search_form)%>
        <%= yield :search_form %>
      <% else %>
        <%= form_tag '/events', role: 'search', class: 'navbar-form navbar-left', method: :get do %>
          <div class="form-group">
            <input type='text' name='q' class="form-control" placeholder="Поиск игр">
          </div>
        <% end %>
      <% end %>

      <ul class='nav navbar-nav navbar-right'>
        <li>
          <% if current_user.admin? %>
            <%= render 'admin_profile_link' %>
          <% elsif current_user.master? %>
            <%= render 'master_profile_link' %>
          <% else %>
            <%= render 'player_profile_link' %>
          <% end %>
        </li>
        <li>
          <%= link_to signout_path do %>
            <i class='fa fa-power-off'></i>
          <% end %>
        </li>
      </ul>

    </div>

  </nav>
</div>
