<div class='topbar'>
  <nav class='container navbar navbar-default navbar-light' role='navigation'>

    <ul class='nav navbar-nav toplinks'>
      <li class='<%= current_tab?('events') ? 'active' : '' %>'><%= link_to t('navbar.events'), events_path %></li>
      <li class='<%= current_tab?('tags') ? 'active' : '' %>'><%= link_to t('navbar.tags'), tags_path %></li>
      <li class='<%= current_tab?('masters') ? 'active' : '' %>'><%= link_to t('navbar.masters'), masters_path %></li>
      <li class='<%= current_tab?('players') ? 'active' : '' %>'><%= link_to t('navbar.players'), players_path %></li>
    </ul>

    <ul class='nav navbar-nav navbar-right'>
      <li>
        <%= link_to edit_profile_path, class: 'profile-link' do %>
          <%= image_tag current_user.avatar, size: '30x30' %>
          <i class='fa fa-gears'></i>
        <% end %>
      </li>
      <li>
        <%= link_to signout_path do %>
          <i class='fa fa-power-off'></i>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
