<div class='topbar'>
  <nav class='container navbar navbar-default navbar-light' role='navigation'>
    <%= link_to events_path, class: 'navbar-brand' do %>
      <%= image_tag asset_path('white.png'), size: '35x35' %>
    <% end %>
    <%= form_tag '', role: 'search', class: 'navbar-form navbar-left', method: :get do %>
      <div class="form-group">
        <input type='text' name='q' class="form-control input-xs" placeholder="Поиск">
      </div>
    <% end %>

    <ul class='nav navbar-nav toplinks'>
      <li class='<%= current_tab?('events') ? 'active' : '' %>'><%= link_to t('navbar.events'), events_path %></li>
      <li class='<%= current_tab?('tags') ? 'active' : '' %>'><%= link_to t('navbar.tags'), tags_path %></li>
      <li class='<%= current_tab?('users') ? 'active' : '' %>'><%= link_to t('navbar.people'), users_path %></li>
    </ul>

    <ul class='nav navbar-nav navbar-right'>
      <li>
        <%= link_to edit_profile_path, class: 'profile-link' do %>
          <%= image_tag current_user.avatar, size: '30x30' %>
          <i class='fa fa-wrench'></i>
        <% end %>
      </li>
      <li>
        <%= link_to signout_path do %>
          <i class='fa fa-power-off'></i>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
