<!DOCTYPE html>
<html>
<head>
  <title>PlayHard</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <!--<link href='http://fonts.googleapis.com/css?family=Lobster|Play&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Tenor+Sans|Ubuntu+Condensed|Forum&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>-->
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'navigation_bar' if user_signed_in? %>

<main class='container'>
  <div class='row'>
    <div class='container'>
      <%= flash_messages %>
    </div>

    <div class='col-md-<%= content_for?(:sidebar) ? '9' : '12' %>'>
      <%= yield %>
    </div>

    <% if content_for? :sidebar %>
      <div class='col-md-3 sidebar-global'>
        <%= yield :sidebar %>
      </div>
    <% end %>
  </div>
</main>

<%= render 'footer' if user_signed_in? %>

</body>
</html>
