<!DOCTYPE html>
<html>
<head>
  <title><%= t('site_name') %></title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= html_import_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>

<body unresolved fullbleed>
  <%= yield %>
</body>

</html>
