<!DOCTYPE html>
<html>
<head>
  <title>PlayhardCore</title>
  <link href='http://fonts.googleapis.com/css?family=Lora&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'navigation_bar' if user_signed_in? %>
<div class='container'>
  <div class='row'>
    <div class='container'>
      <%= flash_messages %>
    </div>

    <div class='col-lg-<%= content_for?(:sidebar) ? '9' : '12' %>'>
      <%= yield %>
    </div>

    <% if content_for? :sidebar %>
      <div class='col-lg-3'>
        <%= yield :sidebar %>
      </div>
    <% end %>
  </div>
</div>

</body>
</html>
