<!DOCTYPE html>
<html>
<head>
  <title>PlayhardCore</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'navigation_bar' if user_signed_in? %>
<div class='container'>
  <div class='row'>
    <div class='col-lg-9'>
      <%= yield %>
    </div>
    <div class='col-lg-3'>
      <%= yield :sidebar %>
    </div>
  </div>
</div>

</body>
</html>
