<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'navigation_bar' if user_signed_in? %>

<main class='container'>
  <div class='row'>

    <div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-<%= content_for?(:sidebar) ? '8' : '12' %> col-md-offset-0'>

      <%= render 'alerts' %>

      <%= yield %>
    </div>

    <% if content_for? :sidebar %>
      <div class='col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-1'>
        <%= yield :sidebar %>
      </div>
    <% end %>
  </div>
</main>

<%= render 'footer' if user_signed_in? %>

</body>
</html>
