<!DOCTYPE html>
<html>
<head>
  <title>Good Games</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link href='http://fonts.googleapis.com/css?family=Lobster|Play&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class='wide'>
  <%= yield %>
</body>
</html>
