<!DOCTYPE html>
<html>
<head>
<title><%= t('site_name') %></title>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= html_import_tag "application", "data-turbolinks-track" => true %>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
</head>

<body unresolved>
  <%= yield %>
</body>
</html>
