<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <!--<link href='http://fonts.googleapis.com/css?family=Tenor+Sans|Ubuntu+Condensed|Forum&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>-->
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'navigation_bar' %>

<main class='container'>
  <div class='row'>
    <div class='col-md-2 profile-menu'>
      <% if current_user.admin? %>
        <%= render 'admin_menu' %>
      <% elsif current_user.master? %>
        <%= render 'master_menu' %>
      <% else %>
        <%= render 'player_menu' %>
      <% end %>
    </div>

    <%= yield %>
  </div>
</main>

<%= render 'footer' %>

</body>
</html>
